In [44]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error,mean_squared_error, r2_score

In [45]:
#Load data 
malaria_data = pd.read_csv('F:/New folder (2)/OneDrive/Desktop/DatasetAfricaMalaria1.csv')

In [46]:
malaria_data

,Country Name,Year,Country Code,"Incidence of malaria (per 1,000 population at risk)",Malaria cases reported,Rural population (% of total population),Rural population growth (annual %),Urban population (% of total population),Urban population growth (annual %),People using at least basic drinking water services (% of population),"People using at least basic drinking water services, rural (% of rural population)","People using at least basic drinking water services, urban (% of urban population)",People using at least basic sanitation services (% of population),"People using at least basic sanitation services, rural (% of rural population)","People using at least basic sanitation services, urban (% of urban population)",latitude,longitude,geometry
0,Algeria,2007,DZA,0.01,26.0,34.65,-0.60,65.35,2.71,91.68,85.83,94.78,85.85,76.94,90.57,28.033886,1.659626,POINT (28.033886 1.659626)
1,Angola,2007,AGO,286.72,1533485.0,42.48,1.91,57.52,5.01,47.96,23.77,65.83,37.26,14.00,54.44,-11.202692,17.873887,POINT (-11.202692 17.873887)
2,Benin,2007,BEN,480.24,0.0,58.44,1.99,41.56,4.09,63.78,54.92,76.24,11.80,4.29,22.36,9.307690,2.315834,POINT (9.307689999999999 2.315834)
3,Botswana,2007,BWA,1.03,390.0,42.07,-1.44,57.93,4.80,78.89,57.60,94.35,61.60,39.99,77.30,-22.328474,24.684866,POINT (-22.328474 24.684866)
4,Burkina Faso,2007,BFA,503.80,44246.0,77.00,2.16,23.00,5.91,52.27,45.13,76.15,15.60,6.38,46.49,12.238333,-1.561593,POINT (12.238333 -1.561593)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,Togo,2017,TGO,278.20,1755577.0,58.84,1.58,41.16,3.79,65.13,48.39,89.06,16.13,7.40,28.61,8.619543,0.824782,POINT (8.619543 0.824782)
590,Tunisia,2017,TUN,NaN,NaN,31.36,0.20,68.64,1.57,96.25,88.71,99.70,90.92,81.35,95.29,33.886917,9.537499,POINT (33.886917 9.537499)
591,Uganda,2017,UGA,336.76,11667831.0,76.80,3.01,23.20,6.25,49.10,41.25,75.11,18.47,16.17,26.11,1.373333,32.290275,POINT (1.373333 32.290275)
592,Zambia,2017,ZMB,160.05,5505639.0,57.02,2.01,42.98,4.21,59.96,41.95,83.86,26.37,18.93,36.24,-13.133897,27.849332,POINT (-13.133897 27.849332)
593,Zimbabwe,2017,ZWE,108.55,467508.0,67.76,1.55,32.24,1.28,64.05,49.80,94.00,36.22,31.47,46.22,-19.015438,29.154857,POINT (-19.015438 29.154857)

In [47]:
malaria_data=malaria_data.drop('Country Name',axis=1)

In [48]:
malaria_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 17 columns):
 #   Column                                                                              Non-Null Count  Dtype
---  ------                                                                              --------------  -----
 0   Year                                                                                594 non-null    int64
 1   Country Code                                                                        594 non-null    object
 2   Incidence of malaria (per 1,000 population at risk)                                 550 non-null    float64
 3   Malaria cases reported                                                              550 non-null    float64
 4   Rural population (% of total population)                                            588 non-null    float64
 5   Rural population growth (annual %)                                                  588 non-null    float64
 6   Urban population (% of total population)                                            588 non-null    float64
 7   Urban population growth (annual %)                                                  588 non-null    float64
 8   People using at least basic drinking water services (% of population)               588 non-null    float64
 9   People using at least basic drinking water services, rural (% of rural population)  566 non-null    float64
 10  People using at least basic drinking water services, urban (% of urban population)  566 non-null    float64
 11  People using at least basic sanitation services (% of population)                   588 non-null    float64
 12  People using at least basic sanitation services, rural (% of rural population)      566 non-null    float64
 13  People using at least basic sanitation services, urban  (% of urban population)     566 non-null    float64
 14  latitude                                                                            594 non-null    float64
 15  longitude                                                                           594 non-null    float64
 16  geometry                                                                            594 non-null    object
dtypes: float64(14), int64(1), object(2)
memory usage: 79.0+ KB

In [49]:
malaria_data.isnull().sum()

Year                                                                                   0
Country Code                                                                           0
Incidence of malaria (per 1,000 population at risk)                                   44
Malaria cases reported                                                                44
Rural population (% of total population)                                               6
Rural population growth (annual %)                                                     6
Urban population (% of total population)                                               6
Urban population growth (annual %)                                                     6
People using at least basic drinking water services (% of population)                  6
People using at least basic drinking water services, rural (% of rural population)    28
People using at least basic drinking water services, urban (% of urban population)    28
People using at least basic sanitation services (% of population)                      6
People using at least basic sanitation services, rural (% of rural population)        28
People using at least basic sanitation services, urban  (% of urban population)       28
latitude                                                                               0
longitude                                                                              0
geometry                                                                               0
dtype: int64

In [50]:
malaria_data.describe()

,Year,"Incidence of malaria (per 1,000 population at risk)",Malaria cases reported,Rural population (% of total population),Rural population growth (annual %),Urban population (% of total population),Urban population growth (annual %),People using at least basic drinking water services (% of population),"People using at least basic drinking water services, rural (% of rural population)","People using at least basic drinking water services, urban (% of urban population)",People using at least basic sanitation services (% of population),"People using at least basic sanitation services, rural (% of rural population)","People using at least basic sanitation services, urban (% of urban population)",latitude,longitude
count,594.000000,550.000000,5.500000e+02,588.000000,588.000000,588.000000,588.000000,588.000000,566.000000,566.000000,588.000000,566.000000,566.000000,594.000000,594.000000
mean,2012.000000,190.087491,1.068330e+06,56.836650,1.389371,43.164116,3.523061,65.994915,51.449576,84.268498,39.469796,28.077208,48.088375,2.828796,17.342546
std,3.164943,163.054527,2.192802e+06,18.086328,1.199693,18.086118,1.456244,17.283361,18.927868,9.307285,26.304934,24.046725,21.802128,15.678226,20.041257
min,2007.000000,0.000000,0.000000e+00,11.020000,-3.450000,9.860000,-4.650000,28.960000,17.050000,52.010000,4.990000,1.890000,12.580000,-30.559482,-24.013197
25%,2009.000000,30.857500,2.211750e+03,43.057500,0.410000,28.795000,2.512500,52.375000,37.075000,78.080000,18.197500,8.842500,30.775000,-6.369028,0.824782
50%,2012.000000,174.775000,1.130260e+05,58.445000,1.675000,41.560000,3.730000,64.470000,50.435000,85.420000,32.555000,18.815000,44.695000,6.744051,18.611308
75%,2015.000000,347.637500,1.154808e+06,71.205000,2.130000,56.945000,4.450000,79.165000,62.245000,90.082500,54.810000,38.082500,58.845000,12.862807,31.465866
max,2017.000000,585.540000,1.682113e+07,90.140000,7.090000,88.980000,7.400000,99.870000,99.830000,99.920000,100.000000,95.180000,98.300000,33.886917,57.552152

In [51]:
#FINDING THE MEAN, MODE AND MEDIAN
print(malaria_data['Incidence of malaria (per 1,000 population at risk)'].median())
print(malaria_data['Incidence of malaria (per 1,000 population at risk)'].mean())
print(malaria_data['Incidence of malaria (per 1,000 population at risk)'].mode())

174.775
190.0874909090909
0    0.0
Name: Incidence of malaria (per 1,000 population at risk), dtype: float64

In [52]:
#FILLING THE NULL VALUE WITH MEAN VALUE
malaria_data['Incidence of malaria (per 1,000 population at risk)'].fillna(malaria_data['Incidence of malaria (per 1,000 population at risk)'].mean(),inplace=True)

In [53]:
malaria_data['Urban population (% of total population)'].fillna(malaria_data['Urban population (% of total population)'].mean(),inplace=True)

In [54]:
malaria_data['Malaria cases reported'].fillna(malaria_data['Malaria cases reported'].mean(),inplace=True)

In [55]:
malaria_data['Rural population (% of total population)'].fillna(malaria_data['Rural population (% of total population)'].mean(),inplace=True)

In [56]:
malaria_data['Rural population growth (annual %)'].fillna(malaria_data['Rural population growth (annual %)'].mean(),inplace=True)

In [57]:
malaria_data['People using at least basic drinking water services (% of population)'].fillna(malaria_data['People using at least basic drinking water services (% of population)'].mean(),inplace=True)

In [58]:
malaria_data['People using at least basic drinking water services, rural (% of rural population)'].fillna(malaria_data['People using at least basic drinking water services, rural (% of rural population)'].mean(),inplace=True)

In [59]:
malaria_data['People using at least basic drinking water services, urban (% of urban population)'].fillna(malaria_data['People using at least basic drinking water services, urban (% of urban population)'].mean(),inplace=True)

In [60]:
malaria_data['People using at least basic sanitation services (% of population)'].fillna(malaria_data['People using at least basic sanitation services (% of population)'].mean(),inplace=True)

In [61]:
malaria_data['People using at least basic sanitation services, rural (% of rural population)'].fillna(malaria_data['People using at least basic sanitation services, rural (% of rural population)'].mean(),inplace=True)

In [62]:
malaria_data['People using at least basic sanitation services, urban  (% of urban population)'].fillna(malaria_data['People using at least basic sanitation services, urban  (% of urban population)'].mean(),inplace=True)

In [63]:
malaria_data['Urban population growth (annual %)'].fillna(malaria_data['Urban population growth (annual %)'].mean(),inplace=True)

In [64]:
#CHECKING THE DATASET FOR NULL VALUES
malaria_data.isnull().sum()

Year                                                                                  0
Country Code                                                                          0
Incidence of malaria (per 1,000 population at risk)                                   0
Malaria cases reported                                                                0
Rural population (% of total population)                                              0
Rural population growth (annual %)                                                    0
Urban population (% of total population)                                              0
Urban population growth (annual %)                                                    0
People using at least basic drinking water services (% of population)                 0
People using at least basic drinking water services, rural (% of rural population)    0
People using at least basic drinking water services, urban (% of urban population)    0
People using at least basic sanitation services (% of population)                     0
People using at least basic sanitation services, rural (% of rural population)        0
People using at least basic sanitation services, urban  (% of urban population)       0
latitude                                                                              0
longitude                                                                             0
geometry                                                                              0
dtype: int64

In [65]:
malaria_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 17 columns):
 #   Column                                                                              Non-Null Count  Dtype
---  ------                                                                              --------------  -----
 0   Year                                                                                594 non-null    int64
 1   Country Code                                                                        594 non-null    object
 2   Incidence of malaria (per 1,000 population at risk)                                 594 non-null    float64
 3   Malaria cases reported                                                              594 non-null    float64
 4   Rural population (% of total population)                                            594 non-null    float64
 5   Rural population growth (annual %)                                                  594 non-null    float64
 6   Urban population (% of total population)                                            594 non-null    float64
 7   Urban population growth (annual %)                                                  594 non-null    float64
 8   People using at least basic drinking water services (% of population)               594 non-null    float64
 9   People using at least basic drinking water services, rural (% of rural population)  594 non-null    float64
 10  People using at least basic drinking water services, urban (% of urban population)  594 non-null    float64
 11  People using at least basic sanitation services (% of population)                   594 non-null    float64
 12  People using at least basic sanitation services, rural (% of rural population)      594 non-null    float64
 13  People using at least basic sanitation services, urban  (% of urban population)     594 non-null    float64
 14  latitude                                                                            594 non-null    float64
 15  longitude                                                                           594 non-null    float64
 16  geometry                                                                            594 non-null    object
dtypes: float64(14), int64(1), object(2)
memory usage: 79.0+ KB

In [66]:
malaria_data=malaria_data.drop('latitude',axis=1)

In [67]:
malaria_data=malaria_data.drop('longitude',axis=1)

In [68]:
malaria_data=malaria_data.drop('geometry',axis=1)

In [69]:
malaria_data=malaria_data.drop('Year',axis=1)

In [70]:
malaria_data=malaria_data.drop('Country Code',axis=1)

In [71]:
# Assuming 'mpg' is the target variable, and other columns are features
X = malaria_data.drop('Incidence of malaria (per 1,000 population at risk)', axis=1)
y = malaria_data['Incidence of malaria (per 1,000 population at risk)']

In [72]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [73]:
# Create a random forest regression model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

In [74]:
# Train the model on the training data
rf_model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [75]:
# Make predictions on the test data
y_pred = rf_model.predict(X_test)

In [76]:
compare = pd.DataFrame({'Predictions':y_pred,'Y_test':y_test})

In [77]:
compare.head(15)

     Predictions      Y_test
30    368.865475  370.080000
299    46.001200   71.360000
177     0.000000    0.000000
204   201.140321  190.087491
354   284.813950  267.860000
265   345.103200  313.400000
464   139.390000   61.610000
551   316.423400  329.130000
55    241.607800  241.190000
196     3.931700    0.000000
137    50.003600   42.920000
29     78.805700   22.780000
353    50.980300   65.210000
368    49.156700   28.050000
101   167.719375   35.050000

In [78]:
# Evaluate the model's performance
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [79]:
print(f"Mean Squared Error (MSE): {mse:.2f}")
print(f"R-squared (R2) Score: {r2:.2f}")

Mean Squared Error (MSE): 3126.55
R-squared (R2) Score: 0.86

In [80]:
X_test

,Malaria cases reported,Rural population (% of total population),Rural population growth (annual %),Urban population (% of total population),Urban population growth (annual %),People using at least basic drinking water services (% of population),"People using at least basic drinking water services, rural (% of rural population)","People using at least basic drinking water services, urban (% of urban population)",People using at least basic sanitation services (% of population),"People using at least basic sanitation services, rural (% of rural population)","People using at least basic sanitation services, urban (% of urban population)"
30,0.000000e+00,84.77,2.69,15.24,3.40,59.55,54.810000,85.950000,23.03,21.270000,32.820000
299,4.029000e+05,66.77,1.77,33.23,4.70,48.41,32.480000,80.430000,8.62,5.400000,15.110000
177,0.000000e+00,56.98,2.02,43.02,1.94,98.60,97.940000,99.470000,93.40,90.700000,96.970000
204,1.068330e+06,46.66,2.01,53.34,3.48,95.77,51.449576,84.268498,98.39,28.077208,48.088375
354,1.280892e+06,84.03,2.66,15.97,3.81,65.14,61.190000,85.890000,24.94,23.300000,33.560000
...,...,...,...,...,...,...,...,...,...,...,...
580,2.239000e+03,28.03,-1.20,71.97,3.11,84.29,76.950000,87.150000,42.97,31.040000,47.620000
228,3.774400e+04,36.29,1.55,63.71,3.51,66.95,33.170000,86.200000,16.63,6.070000,22.640000
84,0.000000e+00,84.67,2.75,15.33,3.45,60.49,55.880000,85.940000,23.34,21.610000,32.940000
140,9.400000e+02,54.31,1.27,45.69,4.89,55.97,37.460000,77.980000,30.46,12.970000,51.240000
394,2.041700e+04,29.92,2.39,70.08,4.94,63.93,30.780000,78.080000,66.12,57.250000,69.900000

In [81]:
y_test

30     370.080000
299     71.360000
177      0.000000
204    190.087491
354    267.860000
          ...
580     10.810000
228    224.380000
84     392.000000
140     31.640000
394    360.950000
Name: Incidence of malaria (per 1,000 population at risk), Length: 119, dtype: float64

In [82]:
import pickle
with open('rf_model_final.pkl','wb') as f:
    pickle.dump(rf_model,f,protocol=pickle.HIGHEST_PROTOCOL, fix_imports=False)

In [83]:
with open('rf_model_final.pkl','wb') as f:
    pickle.dump(rf_model,f,protocol=pickle.HIGHEST_PROTOCOL, fix_imports=False)

In [84]:
with open('rf_model_file','rb') as f:
    mp = pickle.load(f)

In [86]:
r2 = r2_score(y_test, y_pred)

In [87]:
print(f"R-squared (R2) Score: {r2:.2f}")

R-squared (R2) Score: 0.86

In [88]:
import joblib

In [89]:
joblib.dump(rf_model,'model_final.pkl')

['model_final.pkl']